<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>About Us</h5>
          <p class="small-text">We create awesome web apps and love clean UI.</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Home</a></li>
            <li><a href="#" class="footer-link">Services</a></li>
            <li><a href="#" class="footer-link">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <hr class="bg-light my-3">
      <p class="mb-0 small-text">&copy; 2025 YourCompany. All rights reserved.</p>
    </div>
  </footer>
  